*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.contenidoIma{
    display: flex;
    justify-content: space-around;
    padding:25px;
   
   
}
    


#cabeza{
    display: flex;
    justify-content: center;
    align-items: center;
}